ignoreErrors:
	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/Database/Connection.php

	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/Database/DbFunction.php

	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/Database/Fluent/Query.php

	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/Database/Maintenance.php

	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/Database/Row.php

	-
		sniff: Squiz.Scope.MethodScope.Missing
		message: Visibility must be declared on method "fromDatabaseRow"
		count: 1
		path: src/Database/FromRow.php

